/* Smaller than 480px */
.navbar-brand {
  font-family: 'Kalam', cursive;
  font-size: 64px;
}

.container {
  padding: 10px;
}

.paragraph-light {
  opacity: 0.6;
}

.heading-jumbo {
  font-size: 24px;
  background: linear-gradient(to right, #000 50%, #7084f5 50%, #0f12dd);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-out;
}

.heading-jumbo:hover {
  background-position: -100%;
 }

  /* Footer */
  .footer-wrap {
  padding: 100px 15px;
  justify-content: space-between;
  align-items: center;
}

.paragraph-tiny {
  font-size: 10px;
  line-height: 10px;
  opacity: 0.7;
}

.footer-links {
  margin-right: -5px;
  align-items: center;
}

.footer-item {
  margin-right: 8px;
  margin-left: 8px;
  opacity: 0.6;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

@media only screen and (min-width: 480px) {
  .navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 64px;
  }

  .container {
    padding: 20px;
  }

  /* Footer */
  .paragraph-light {
    opacity: 0.6;
  }

  .heading-jumbo {
    font-size: 32px;
    background: linear-gradient(to right, #000 50%, #7084f5 50%, #0f12dd);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-out;
  }

  .heading-jumbo:hover {
    background-position: -100%;
   }

  .footer-wrap {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
  }

  .paragraph-tiny {
    font-size: 10px;
    line-height: 15px;
    opacity: 0.7;
  }

  .footer-links {
    margin-right: -10px;
    align-items: center;
  }
  
  .footer-item {
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.6;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .footer-item:hover {
    opacity: 0.9;
  }
}

@media only screen and (min-width: 760px) {
  .navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 64px;
  }

  .container {
    padding: 30px;
  }

  .paragraph-light {
    opacity: 0.6;
  }

  .heading-jumbo {
    font-size: 40px;
    background: linear-gradient(to right, #000 50%, #7084f5 50%, #0f12dd);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-out;
  }

  .heading-jumbo:hover {
    background-position: -100%;
   }
  
  /* Footer */
  .footer-wrap {
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;
  }

  .paragraph-tiny {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
  }

  .footer-links {
    display: flex;
    margin-right: -20px;
    align-items: center;
  }
  
  .footer-item {
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .footer-item:hover {
    opacity: 0.9;
  }
}

@media only screen and (min-width: 960px) {
  .navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 64px;
  }

  .container {
    padding: 40px;
  }

  .paragraph-light {
    opacity: 0.6;
  }

  .heading-jumbo {
    font-size: 48px;
    background: linear-gradient(to right, #000 50%, #7084f5 50%, #0f12dd);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-out;
  }

  .heading-jumbo:hover {
    background-position: -100%;
   }

  /* Footer */
  .footer-wrap {
    display: flex;
    padding: 40px 50px;
    justify-content: space-between;
    align-items: center;
  }

  .paragraph-tiny {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
  }

  .footer-links {
    display: flex;
    margin-right: -20px;
    align-items: center;
  }
  
  .footer-item {
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .footer-item:hover {
    opacity: 0.9;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 64px;
  }

  .container {
    padding: 50px;
  }

  .paragraph-light {
    opacity: 0.6;
  }

  .heading-jumbo {
    font-size: 48px;
    background: linear-gradient(to right, #000 50%, #7084f5 50%, #0f12dd);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-out;
  }

  .heading-jumbo:hover {
    background-position: -100%;
   }

  /* Footer */
  .footer-wrap {
    display: flex;
    padding: 40px 50px;
    justify-content: space-between;
    align-items: center;
  }

  .paragraph-tiny {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
  }

  .footer-links {
    display: flex;
    margin-right: -20px;
    align-items: center;
  }
  
  .footer-item {
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .footer-item:hover {
    opacity: 0.9;
  }
}

@media only screen and (min-width: 1600px) {
  .navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 64px;
  }

  .container {
    padding: 60px;
  }

  .paragraph-light {
    opacity: 0.6;
  }

  .heading-jumbo {
    font-size: 48px;
    background: linear-gradient(to right, #000 50%, #7084f5 50%, #0f12dd);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
  }

  /* Footer */
  .footer-wrap {
    display: flex;
    padding: 40px 50px;
    justify-content: space-between;
    align-items: center;
  }

  .paragraph-tiny {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
  }

  .footer-links {
    display: flex;
    margin-right: -20px;
    align-items: center;
  }
  
  .footer-item {
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .footer-item:hover {
    opacity: 0.9;
  }
}